<div class=".card-show-car">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class=".card-show-car-infos">
    <div>
      <h2>Marca: <%= car.brand %></h2>
      <p>Modelo: <%= car.model %></p>
      <p>Categoria: <%= car.category %></p>
      <p>Kilometragem: <%= car.km %> Km</p>
      <p>Cidade: <%= car.city %></p>
    </div>
    <h2 class=".card-show-car-pricing">R$ <%= car.daily_rate %> </h2>
  </div>
</div>
