    <%= image_tag 'logo', { class: "card-img-top" } %>
    <div class="card-body">
      <span class="card-title" style="font-size: 1.5rem;"> <%= @car.year %> <%= @car.brand  %> <%= @car.model  %> </span>
    </div>
    <ul class="list-group list-group-flush">
      <li class=list-group-item> <%= @car.km %> km</li>
      <li class=list-group-item> Location: <%= @car.user.address  %> </li>
      <li class=list-group-item> Rent per day: R$ <%= @car.daily_rate  %> </li>
    </ul>