<%= simple_form_for [@car, @rental] do |f|%>
<%= f.input :start_date  %>
<%= f.input :finish_date  %>
<span><strong>Daily rate: </strong><%= price_mask_real(@car.daily_rate) %></span><br>
<%= f.submit class:"btn btn-gradient mt-2" %>
<% end %>
