<div class="container p-5">
  <h2>My rentals</h2>
  <% if @rentals.count.zero? %>
    <p>You don't have any open rentals</p>
    <%= link_to 'Browse cars', cars_path, 
                        class: "btn btn-flat" %>

  <% else %>
    <%# ini list of rentals %>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Rental ID</th>
          <th scope="col">Car</th>
          <th scope="col">Start</th>
          <th scope="col">Finish</th>
          <th scope="col">Amount</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
      <% @rentals.each do |rental| %>
        <tr>
          <th scope="row"><%= rental.id %></th>
          <td><%= rental.car.brand %></td>
          <td><%= date_mask(rental.start_date) %></td>
          <td><%= date_mask(rental.finish_date) %></td>
          <td><%= price_mask_real(rental.price) %></td>
          <td>
            <%= link_to 'View', car_rental_path(car_id: rental.car.id, id: rental.id), 
                                class: "btn btn-flat btn-sm", 
                                style: "width: 80px;" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
