<h1> Rental ID <%= @rental.id %></h1>
<p> Car ID <%= @rental.car.id %></p>
<p> user ID <%= @rental.user.id %></p>
<p> Car brand <%= @rental.car.brand %></p>
<p> First name <%= @rental.user.first_name %></p>
<p> Last Name <%= @rental.user.last_name %> </p>
<p> Date Start <%= @rental.start_date %></p>
<p> Date Finish <%= @rental.finish_date %></p>
