<% provide(:title, 'Home') %>

<%# ini banner %>
<div class="banner bg-cover">
  <div class="container" style="text-align: left;">
    <h1>Drive anywhere you want</h1>
    <p>Break the routine with a little adventure in your life.</p>
    <%= link_to "Explore Navcar", cars_path, class: "btn btn-danger" %>
  </div>
</div>
<%# end banner %>

<div class="container my-5">
<!-- SÓ ADICIONAR ESSE TRECHO SE CONSEGUIRMOS TER GEOLOCATION OF VISITOR'S BROWSER?
  <%# ini search-locations %>
  <h2 class="py-3 mt-2">Drive anywhere...</h2>
  <div class="cards">
    <div class="card-location">
      <%= image_tag("cabo-frio") %>
      <div class="card-location-info">
        <h2>Cabo Frio</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Rio de Janeiro</h2>
        <p>30 minute drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Resende</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Nova Friburgo</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <%= image_tag("cabo-frio") %>
      <div class="card-location-info">
        <h2>Búzios</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Campos do Jordão</h2>
        <p>4.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">      
      <div class="card-location-info">
        <h2>Petrópolis</h2>
        <p>1 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Ubatuba</h2>
        <p>5.5 hour drive</p>
      </div>
    </div>
  </div>
  <%# end search-locations %>
  -->
  
  <%# ini card-category %>
  <%# <h2 class="py-3 mt-3">...and do it in style</h2> %>
  <div class="cards">
    <a  href=cars/luxury
        class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("luxury") %>)">
      Luxury
    </a>

    <a  href=cars/vintage
        class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("vintage") %>)">
      Vintage
    </a>

    <a  href=cars/sport
        class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= image_url("sport") %>)">
      Sport
    </a>

    <a  href=cars/off_road
        class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_url("off-road") %>)">
      Off-road
    </a>

  </div>
  <%# end card-category %>
</div>
<%# ini footer %>
<%# end footer %>