<% provide(:title, 'Home') %>

<%# ini navbar %>
<%# end navbar %>
<%# ini banner %>
<div class="banner bg-cover">
  <div class="container">
    <h1>Drive anywhere you want</h1>
    <p>Break the routine with a little adventure in your life.</p>
    <%= link_to "Explore Navcar", cars_path, class: "btn btn-secondary" %>
  </div>
</div>
<%# end banner %>
<div class="container mb-5">
<!--
  <%# ini search-locations %>
  <h2 class="py-3 mt-2">Drive anywhere...</h2>
  <div class="cards">
    <div class="card-location">
      <%= image_tag("cabo-frio") %>
      <div class="card-location-info">
        <h2>Cabo Frio</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Rio de Janeiro</h2>
        <p>30 minute drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Resende</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Nova Friburgo</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <%= image_tag("cabo-frio") %>
      <div class="card-location-info">
        <h2>Búzios</h2>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Campos do Jordão</h2>
        <p>4.5 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">      
      <div class="card-location-info">
        <h2>Petrópolis</h2>
        <p>1 hour drive</p>
      </div>
    </div>
    <div class="card-location">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="">
      <div class="card-location-info">
        <h2>Ubatuba</h2>
        <p>5.5 hour drive</p>
      </div>
    </div>
  </div>
  <%# end search-locations %>
  -->
  <%# ini card-category %>
  <%# <h2 class="py-3 mt-3">...and do it in style</h2> %>
  <div class="cards">
    <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= 
        image_url("luxury") %>)">
      Luxury
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("vintage") %>)">
      Vintage
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_url("sport") %>)">
      Sport
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("off-road") %>)">
      Off-road
    </div>
  </div>
  <%# end card-category %>
</div>
<%# ini footer %>
<%# end footer %>