
  <%# FAZER TODOS OS CARDS FICAREM DO MESMO TAMANHO MESMO QUANDO O NOME DO CARRO OCUPAR DUAS LINHAS? %>
  <%# CORRIGIR O TAMANHO DAS FOTOS PARA QUE FIQUEM SEMPRE COM O MESMO HEIGHT? %>
  <%# INSERIR TABS para separar carros POR CATEGORIA? %>
  <%# INSERIR SEARCH por cidade? %>

<div class="container my-4">

  <nav class="nav nav-tabs flex-column flex-sm-row">
    <a class="nav-link active" href="#">All</a>
    <a class="nav-link" href="#">Luxury</a>
    <a class="nav-link" href="#">Vintage</a>
    <a class="nav-link" href="#">Sport</a>
    <a class="nav-link" href="#">Off-road</a>
  </nav>
  <div class="cards">
    <% @cars.each do |car| %>
      <%# ini each card %>
      <div class="card" style="background-color: #f7f7ef">
        <% if car.photos.attached? %>
        <%# ini card photo carousel %>
          <div id="carPhotosCarousel<%= car.id %>" class="carousel slide" 
                data-ride="carousel" data-wrap="false" data-interval="false">

            <div class="carousel-inner">
              <% car.photos.each_with_index do |photo, index| %>
                <% if index.zero? %>
                  <div class="carousel-item active">
                <% else %>
                  <div class="carousel-item">
                <% end %>
                  <%= cl_image_tag(photo.key, :class=>"card-img-top d-block", 
                                              :transformation=>{ height: 200, crop: :fill }) %>
                </div>
              <% end %>
            </div>

            <a class="carousel-control-prev" href="#carPhotosCarousel<%= car.id %>" 
                role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carPhotosCarousel<%= car.id %>" 
                role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>
        <%# end card photo carousel %>
        <% else %>
          <%= image_tag 'logo', class: "card-img-top" %>
        <% end %>

        <%# ini card infos %>
        <div class="card-body">
          <span class="card-title" style="font-size: 1.25em;">
            <%= car.brand  %> <%= car.model  %>
          </span> 
          <br>
          <span class="card-subtitle text-muted" style="font-size: 1.1em;  line-height: 1.5;">
            <%= car.category %>
          </span>
        </div>

        <ul class="list-group list-group-flush">
          <span class=list-group-item style="background-color: rgba(128, 15, 15, 0)">
            Daily rate: R$ <%= car.daily_rate  %>
          </span>
        </ul>
        <%# end card infos %>

        <%# ini button at the bottom of the card %>
        <div class="card-body">
          <%= link_to "Details", car_path(car), class: "btn btn-flat btn-block btn-sm" %>
        </div>
        <%# end button at the bottom of the card %>

      </div>
      <%# end each card %>
    <% end %>
  </div>
</div>
