<div class="container-centered">
  <div class="card mt-5">
    <%= render 'shared/car_details' %>
    <%# buttons for actions %>
    <div class="card-body d-flex">
      <% unless @car.user == @user %>
        <%= link_to "Book", new_car_rental_path(@car), class: "btn btn-flat flex-fill mx-1" %>
      <% end %>

      <% if policy(@car).edit? %>
        <%= link_to "Edit", edit_car_path(@car), class: "btn btn-secondary flex-fill mx-1" %>
      <% end %>

      <% if policy(@car).destroy? %>
        <%= link_to "Remove", car_path(@car),
                              method: :delete,
                              data: { confirm: "Are you sure?", },
                              class: "btn btn-secondary flex-fill mx-1" %>
      <% end %>
    </div>
  </div>
  <% if @myrentals.count.zero? %>
    <p></p>
  <% else %>
  <hr>
  <h2>Rentals</h2>
  <table class="table table-sm table-hover text-center">
    <thead>
      <tr>
      <th scope="col">User</th>
        <th scope="col">Start date</th>
        <th scope="col">Finish date</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>

    <tbody>
    <% @myrentals.reverse.each do |rentail| %>
      <tr>
        <td><%= rentail.user.first_name %></td>
        <td><%= rentail.start_date %> </td>
        <td><%= rentail.finish_date %> </td>
        <td><%= price_mask_real(rentail.amount) %></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>